@font-face {
    font-family: "Open Sans";
    src: url(OpenSans-Light.ttf);
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 10%vh;
    row-gap: 10px;
    font-family: "Open Sans";
    
}

.navigation{
    display: grid;
    grid-column: 2/3;
    grid-row: 1;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    background-color: #27374D;
    color: #DDE6ED;
}

.brand{
    background-color: #526D82;
    color:#DDE6ED;
    text-align: center;
}

.search{
    text-align: center;
    background-color: #526D82;
    color:#DDE6ED;
}

.content{
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-column: 1/6;
    grid-row: auto;
    align-items: center;
}

.left-arrow{
    text-align: right;
    color: orangered;
    font-weight: 900;
}

.week{
    text-align: center;
}

.right-arrow{
    text-align: left;
    color: orangered;
}

.parts{
    grid-row: auto;
    grid-column: 1/4;
    display: grid;
    row-gap: 10px;
    color: white;
    text-align: center;
    row-gap: 10px;
}

.parts>div{
    display: flex; 
}

.plus{
    width: 25%;
    text-align: right;
    color: yellowgreen;
    padding-right: 10px;

}

.minus{
    width: 25%;
    text-align: left;
    color: yellowgreen;
    font-weight: 900;
    padding-left: 10px;
}

.part-bg{
    background-color: #DDE6ED;
    width: 50%;    
    color: #27374D
}

@media (max-width:720px) {

.navigation{
    grid-column: 2/3;
    grid-row: 1/4;
    grid-template-columns: 100%;
}

}

